<div class="container">
  <div class="card" style="width: 80rem;">
      <img src="assets\images\slid\island.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">เกาะไม้ท่อน</p>
        <p class="card-text">เป็นเกาะขนาดเล็กตั้งอยู่ทางด้านทิศตะวันออกเฉียงใต้ของเกาะภูเก็ต เป็นเกาะที่มีความอุดมสมบูรณ์ทางธรรมชาติและหาดทรายที่สวยงามจึงเป็นอีกหนึ่งเป้าหมายสำหรับนักท่องเที่ยวที่มีเวลาจำกัดโดยสามารถเดินทางโดยเรือสปีดโบตจากท่าเรือน้ำลึกไม่นานนักท่านก็จะได้สัมผัสกับหนึ่งเกาะที่มีความงดงามแห่งนี้</p>
      </div>
    </div>

    <div class="card" style="width: 80rem;">
      <img src="assets\images\slid\Fantasy.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">ภูเก็ตแฟนตาซี</p>
        <p class="card-text">เปิดโลกการเที่ยวกลางคืน ที่จะทำให้คุณตื่นตาตื่นใจไปกับภูเก็ตแฟนตาซี การแสดงสดวัฒนธรรมไทยที่มีชื่อเสียงที่สุดภายในภูเก็ต เชื่อว่านักท่องเที่ยวหลายคน ไม่ว่าจะเป็นไทยหรือต่างชาติต้องเคยได้ยินชื่อของแฟนตาซีภูเก็ตมาก่อนแน่นอน เพราะสถานที่ท่องเที่ยวจังหวัดภูเก็ตแห่งนี้ มีโชว์สุดอลังการที่สื่อให้เห็นถึงวัฒนธรรมไทย และเป็นการผสมผสานกับเทคโนโลยีรุ่นใหม่ เพื่อทำให้ภาพ แสง สี และเสียงโดดเด่นที่สุด ความงามของภูเก็ตแฟนตาซี ไม่ใช่เพียงแค่ความอลังการหรือความตื่นเต้นเท่านั้น แต่ยังเป็นการถูกการันตีจากรางวัล World Records ที่ได้มาสูงสุดถึง 9 รางวัล จึงเป็นเครื่องการันตีว่าการมาที่นี่ ไม่ทำให้คุณผิดหวังกับความบันเทิงอย่างแน่นอน โดยจะเปิดให้คุณได้เข้ารับชมตั้งแต่ช่วงเวลา 17.00 น. ไปจนถึง 23.30 น.แต่จะยกเว้นวันพฤหัสบดีเพียงวันเดียว ค่าเข้าทั้งคนไทยและต่างชาติ จำนวน 1,800 บาท</p>
      </div>
    </div>

    <div class="card" style="width: 80rem;">
      <img src="assets\images\slid\Flying.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Flying Hanuman</p>
        <p class="card-text">สาย Adventure ต้องไม่พลาดการไปเที่ยว Flying Hanuman จุดที่จะพาคุณไปทำกิจกรรมสายผจญภัยแบบ 100% ด้วยการโหนซิปไลน์ตามจุดต่าง ๆ เพื่อชมวิว ให้ทั้งความตื่นเต้นและความท้าทายไปพร้อมกัน ที่สำคัญที่สุดคือการได้อินกับบรรยากาศธรรมชาติเมืองภูเก็ตแท้ ทำให้คุณได้สนุกแบบจัดเต็มถึง 27 ฐาน มีทั้งการโหนซิปไลน์และการโยนตัวจากต้นไม้สูง รวมไปถึงการได้เดินขึ้นบันไดวน และเดินขึ้นเขาแบบครบถ้วนทุกอารมณ์ ตอบโจทย์คนที่ชอบมาเที่ยวสายนี้เป็นอย่างมาก</p>
      </div>
    </div>
